/* Headings Style */


h1 {
	text-align: enter;
	margin: 0 0 4pt 0;
	break-after: avoid;

	text-transform: uppercase;
	font-size: 18pt;
	min-height: 1.5cm;	
}

h2 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.3cm;
	font-size: 15pt;
}

h3 {
	margin: 0;
	text-align: center;
	flex: 0 0 auto !important;

	break-after: avoid;
}

h4 {
	background: #c0c0c0 !important;
	font-size: 8pt;
	height: 0.36cm;
	line-height: 0.36cm;

	text-transform: uppercase;
	text-align: left;

	position: relative;
	color: #303030;
	margin: 0;
	padding: 1pt 6pt;
	flex: 0 0 auto !important;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -0.2pt;
		height: 100%;
		width: 3pt;

		border-radius: 3pt / 50%;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background: white;
	}
}

h5, legend {
	font-size: 8pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #808080;
	margin: 2pt 0 1pt 0;
}

h6 {
	font-size: 9pt;
	line-height: 0.55cm;
	height: 0.55cm;
	font-weight: normal;
	text-align: left;
	margin: 0;
	white-space: nowrap;
}





.logo {
	flex: 5 1 auto;
	min-height: 1cm;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;	
}

.portrait {
	flex: 100 1 auto;
	margin: 1em;
	min-height: 3cm;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.class-icon {
	flex: 0 0 auto;
	height: 1.7cm;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 1em;
	opacity: 0.6;
}


/* Common elements */

p, ul {
	font-size: 9pt;
	margin-top: 2pt;
	margin-bottom: 2pt;
}

h5 + p {
	margin-top: 0;
}

li {
	margin-top: 2pt;
	margin-bottom: 2pt;
}

span {
	font-size: 11pt;
	height: 0.5cm;
	line-height: 0.5cm;
}

.prose {
	&, p {
		color: black;
		font-family: Georgia, Times, Times New Roman, serif;
		line-height: 14pt;
		text-align: justify;
		text-justify: inter-word;
	}
}


/* Icons */

.icon {
	margin: 4pt 4pt 1pt 0;
	width: auto;
	min-width: 0.7cm;
	height: 0.7cm;
	display: inline-block;
	// opacity: 0.6;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	&.icon--small {
		margin: 1pt 0;
		width: auto;
		height: 0.5cm;
		min-width: 0.5cm;
		opacity: 0.6;
	}
}





/* Horizontal divider */

hr {
	margin: 3pt 0;
	border: 0 none;
	border-top: 1pt solid #b0b0b0;

	&.hr--swash {
		margin: 10pt 0;
		position: relative;
		height: 5mm;
		border-top: 0 none;
		
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 15mm 5mm;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 2.5mm;
			margin-top: -0.5pt;
			border-top: 1pt solid #9f9f9f;
			height: 0;
		}

		&::before {
			left: 0;
			right: 50%;
			margin-right: 7mm;
		}
		
		&::after {
			right: 0;
			left: 50%;
			margin-left: 7mm;
		}
	}

	&.hr--narrow {
		margin: 1pt 0;
	}
}


.spell-level {
	text-align: center; 
	font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 12pt;
}
