/* Fonts */
  
  
  body {
      font-family: "Roboto Condensed", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 7pt;
  }
  
  h1, h2, h3, h4, h5, legend {
      font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
      font-weight: 900;
  }