



/* Sections */

section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	break-inside: avoid;
	page-break-inside: avoid;

	flex: 1 1 auto;
	margin-bottom: 2pt;
	
	> * {
		flex: 1 1 auto;
	}
	

	/* Primary section */

	&.section--primary {
		> .g {
			background-color: white;
			/*background: url(images/primarybox.svg);*/
			border: 2pt solid #808080;
			border-top: 0 none;
			padding: 0 4pt 3pt 4pt;
		}
	}

	/* Nested sections */
	
	section {
		padding-bottom: 3pt;
		border-bottom: 1pt solid #909090;
		margin-bottom: 3pt;

		&:last-child {
			padding-bottom: 0;
			border-bottom: 0 none;
			margin-bottom: 0;
		}
	}
}


/* Article */

article {
	border-top: 2pt solid #c0c0c0;
	min-height: 0.7cm;
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	
	> h4 {
		margin-top: -2pt;
	}

	header {
		border-bottom: 0.5pt solid #c0c0c0;
		height: 18pt;
		flex: 1 1 auto;

		position: relative;
		margin-bottom: 2pt;

		h5, input {
			margin: 0;
			line-height: 18pt;
			// text-transform: none;
			color: #707070;
		}
		input {
			padding: 0;
			display: block;
			width: 100%;
			background: none;
			border: 0 none;
			height: 18pt;
		}
		h6 {
			position: absolute;
			top: 0.5pt;
			right: 1pt;
			color: #707070;
			font-size: 8pt;
			line-height: 18pt;
			height: 18pt;
			margin: 0;
		}

		i.icon {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			z-index: 100;
			// background-color: white;

			&.icon--small {
				top: -3pt;
			}
		}
	}

	> .g > .field:last-child {
		.field__inner {
			border-bottom: 0 none;
		}
	}

	&.article--with-icon {
		header {
			h6 {
				right: 1cm;
			}
		}
	}

	dl {
		$dl_margin: 1.3cm;

		margin: 0;
		padding-left: $dl_margin;
		font-size: 9pt;

		dt {
			float: left;
			margin-left: -$dl_margin;

			font-weight: bold;
		}

		dd {
			margin: 0 0 1pt 0;
		}
	}

	&.article--inset {
		padding-left: 3pt;
		padding-right: 3pt;
	}


	
}


h3 + article, h4 + article {
	border-top: 0 none;
}

h3 + article > h4 {
    margin-top: 0;
}


.articles {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	article:first-child {
		border-top: 0 none;
	}

	> .layout {
		flex: 1 1 auto;
	}

	> .level, .action {
		align-content: center;
	}
	
	&.articles--zebra article:nth-last-child(2n), .articles--zebra-b article:nth-last-child(2n+1) {
		background: #f8f8f8;
	}

	&.articles--fields {
		&, article {
			padding-bottom: 2pt;
		}
	}
}
