/* Print styles */

@page {
    margin: 0;
}
* {
    -webkit-print-color-adjust: exact;
    color-adjust: exact !important;
}
html, body {
    height: 100%;
}

main {
	max-width: 24cm;
	height: 100%;
}

.page {
    min-height: 100%;
    box-sizing: border-box;
    page-break-before: always;
    page-break-inside: avoid;
}


/* Non-printing elements */

#screen-buttons, #screen-meta {
    display: none;
}