/* Pathfinder style */

h3 {
	font-size: 9pt;
	height: 0.45cm;
	line-height: 0.45cm;
    
    background-image: url('{{{dataurl "images/h3.svg"}}}');
	background-position: top;
	background-repeat: no-repeat;
    background-size: 100% 0.45cm;
    
    text-transform: uppercase;
	color: white;
}

.field--proficiency i {
	background-image: url('{{{dataurl "images/icon-proficiency.svg"}}}'); 
	background-size: auto 0.5cm;
}

.field--proficiency--trained i, .field--proficiency > .proficiency-trained:checked ~ i { background-image: url('{{{dataurl "images/icon-proficiency-trained.svg"}}}'); }
.field--proficiency--expert i, .field--proficiency > .proficiency-trained:checked ~ .proficiency-expert:checked ~ i { background-image: url('{{{dataurl "images/icon-proficiency-expert.svg"}}}'); }
.field--proficiency--master i, .field--proficiency > .proficiency-trained:checked ~ .proficiency-expert:checked ~ .proficiency-master:checked ~ i { background-image: url('{{{dataurl "images/icon-proficiency-master.svg"}}}'); }
.field--proficiency--legendary i, .field--proficiency > .proficiency-trained:checked ~ .proficiency-expert:checked ~ .proficiency-master:checked ~ .proficiency-legendary:checked ~ i { background-image: url('{{{dataurl "images/icon-proficiency-legendary.svg"}}}'); }

.field--icon.field--icon--bonus i {
	background-image: url('{{{dataurl "images/icon-d20.svg"}}}');
	background-size: auto 0.4cm;
}

.field--icon.field--icon--gender i { background-image: url('{{{dataurl "images/icon-gender.svg"}}}'); }
.field--icon.field--icon--hp i { background-image: url('{{{dataurl "images/icon-hp.svg"}}}'); }
.field--icon.field--icon--damage i { background-image: url('{{{dataurl "images/icon-damage.svg"}}}'); }

.field--icon.field--icon--size i {
	background-image: url('{{{dataurl "images/icon-size.svg"}}}');
	background-size: auto 0.5cm;
}

.field--icon.field--icon--dc i, .field--icon.field--icon--modifier i { background-image: url('{{{dataurl "images/icon-dc.svg"}}}'); }

.field--icon.field--icon--ac i { background-image: url('{{{dataurl "images/icon-ac.svg"}}}'); }

.field--icon.field--icon--tac i { background-image: url('{{{dataurl "images/icon-tac.svg"}}}'); }