$color_bg: #808080;
$color_bg_shadow: #707070;
$color_legend: #606060;

/* Column Borders */

.page > .layout:last-child > *:last-child {
/* .page-contents > .column > *:last-child, .page-contents > *:last-child > .column > *:last-child { */
    padding-bottom: 2pt;
    border-bottom: 2pt solid #808080;
}

.column.column--non-final > * {
    padding-bottom: 0 !important;
    border-bottom: 0 none !important;
}

/* Headings */

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    margin: 0 0 0.5cm 0;
}

h3 {
    font-size: 0.8rem;
    height: 1rem;
    line-height: 1rem;
    
    margin: 0;
    text-align: center;
    
    background-image: url('{{{dataurl "images/h3.svg"}}}');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 0.45cm;
    
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 1px $color_bg_shadow;
}

h4 {
    color: $color_legend;
    font-size: 0.8rem;
    height: 1.4rem;
    line-height: 1.4rem;

    margin: 0;
}

h6 {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
    line-height: 1.3rem;
}

legend, h5 {
    color: $color_legend;
    font-size: 0.7rem;
    text-transform: uppercase;
}
