.field {
    &--frame_none {
        padding: 0;
    }

    &--frame_right, &--frame_left {
        padding: 0;
        .field__inner {
            display: inline-block;
            margin: 0 4pt;
        }
        label {
            position: static;
            display: inline-block;
            font-size: 0.9rem;
        }
    }
}
