/* Layout */

.layout {
	display: grid;
	grid-gap: 0.25cm 0.5cm;

    &--narrow {
        grid-gap: 0.1cm 0.3cm;
    }

    &--collapse {
        grid-gap: 0.05cm 0.05cm;
    }

    &--layout_1n {
        padding: 1cm 2cm;
        grid-template-columns: 1fr;   
    }

    &--layout_2e {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
    }

    &--layout_2l {
        grid-template-columns: 5fr 8fr;
        grid-template-areas: "left right";
    }

    &--layout_2r {
        grid-template-columns: 8fr 5fr;
        grid-template-areas: "left right";
    }

    // &--layout_2l2r {
    //     grid-template-columns: 5fr 3fr 5fr;
    //     grid-template-rows: auto auto;
    //     grid-template-areas:
    //         "a b b"
    //         "c c d";
    // }

    // &--layout_2r2l {
    //     grid-template-columns: 5fr 3fr 5fr;
    //     grid-template-rows: auto auto;
    //     grid-template-areas:
    //         "a a b"
    //         "c d d";
    // }

    &--layout_alignment {
        grid-template-columns: auto 1.8cm;
        grid-template-areas: "a b";
        align-items: center;
    }

    // &.layout-action {
    //     grid-template-columns: 0.7cm auto;
    //     grid-template-areas: "a b";
    //     align-items: center;
    // }

    &--layout_3e {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "a b c";
    }

    &--layout_3lr {
        grid-template-columns: 5fr 3fr 5fr;
        grid-template-areas: "a b c";
    }

    &--layout_5e {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a b c d e";
    }

    // &.layout_inventory {
    //     grid-template-columns: 5fr 4fr 4fr;
    //     grid-template-rows: auto auto auto;
    //     grid-template-areas:
    //         "a b c"
    //         "a d d"
    //         "a e f";
    // }

    &--layout_spells-list {
        grid-template-columns: 1fr 1cm 1fr;
        grid-template-areas: "a level b";
    }

    &--flex {
        > * {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    
    // .column {
    //     display: flex !important;
    //     flex-direction: column;
    //     flex-wrap: nowrap;
    //     grid-area: auto;
    // }
}


.page--unbalanced > .layout > .column {
	display: block !important;
}