

$colour_screen_bg: #e0e0e0;
$colour_screen_bg2: #c0c0c0;

$colour_screen_print_button: #2020d0;


/* Screen styles */
body {
    background: $colour_screen_bg;
    background: linear-gradient(to right, $colour_screen_bg2 0%, $colour_screen_bg 50%, $colour_screen_bg2 100%);
    padding-bottom: 2cm;
}
main {
    max-width: 22cm;
	margin: 0 auto;
}
.page {
    box-shadow: 0 0 1cm rgba(0,0,0,0.1);
    background: white;
    min-height: 26cm;
    margin: 1cm 0;
}


/* Non-printing elements */

#screen-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(255,255,255,0.7);
    padding: 0.5cm;
    box-shadow: 0 0 1cm rgba(0,0,0,0.3);

    text-align: center;
    z-index: 100;
}

button {
    background: $colour_screen_print_button;
    color: white;
    font-weight: bold;
    width: 4cm;
    padding: 5pt;
    border: 0 none;
    border-radius: 2pt;
    cursor: pointer;
    box-shadow: 0 2pt 10pt rgba(0,0,0,0.4);
}